<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		This motivatinal version of spulrty was built by <a target="_blank" href="https://github.com/stevenlecreates">Steven Le </a>. A web developer in training currently with The Firehose Project. I intend to build many more projects along the road and even bring my own ideas to life in the future. 
	</p>

	<p>
		The purpose behind this version of spulrty was to build something that would motivate me when I would inevitably struggle with coding or anything else down the line in my life. The idea was that I could just generate a new quote that would motivate me whenever I needed that extra boost to keep going.
	</p>

	<br/>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'stevenfinal.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1 about">
  	<h2 class="text-center">Steven Le</h2>
  	<br />
  	<p>Steven Le is currently learning how to code with The Firehose Project. After working in retail, watching others build amazing things, he wanted to transcend from just selling other peoples creations to create things himself.</p>

  	<p>
  		Outside of learning to program, Steven is fan of martial arts, fitness, videogames and anime. He welcomes any recommendations to excellent animes to watch! Favourites include: Code Geass, Death Note, Full Metal Alchemist, etc.
  	</p>
  </div>

 <br class="clear" />
<br />
<br />
<br />
<br />
